<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

    <h1 id="weed">This is a template for testing</h1>
    <p id="biri">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet atque blanditiis, cum dolores id, impedit ipsa laboriosam obcaecati soluta tempore unde. A corporis error fugiat, pariatur praesentium tempora voluptatem!</p>

</body>
</html>
